<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodapp.promotion_service.persistence.repository.PromotionOutboxRepository">

    <resultMap id="PromotionOutboxMap"
               type="com.foodapp.promotion_service.persistence.entity.PromotionOutboxEntity">

        <id property="id" column="id" typeHandler="com.foodapp.promotion_service.persistence.typehandler.UuidTypeHandler"/>
        <result property="aggregateId" column="aggregate_id" typeHandler="com.foodapp.promotion_service.persistence.typehandler.UuidTypeHandler"/>

        <result property="aggregateVersion" column="aggregate_version"/>

        <result property="changeMask" column="change_mask" jdbcType="OTHER" typeHandler="com.foodapp.promotion_service.persistence.typehandler.JsonListTypeHandler"/>
        <result property="payload" column="payload" jdbcType="OTHER" typeHandler="com.foodapp.promotion_service.persistence.typehandler.JsonStringTypeHandler"/>
        <result property="occurredAt" column="occurred_at"/>
        <result property="publishedAt" column="published_at"/>
    </resultMap>

    <insert id="createOutbox" parameterType="com.foodapp.promotion_service.persistence.entity.PromotionOutboxEntity">
        INSERT INTO promotion_outbox (
            id,
            aggregate_id,
            aggregate_version,
            change_mask,
            payload,
            published_at
        )
        VALUES (
                   #{id, typeHandler=com.foodapp.promotion_service.persistence.typehandler.UuidTypeHandler}::uuid,
                   #{aggregateId, typeHandler=com.foodapp.promotion_service.persistence.typehandler.UuidTypeHandler}::uuid,

                   #{aggregateVersion},

                   #{changeMask, typeHandler=com.foodapp.promotion_service.persistence.typehandler.JsonListTypeHandler}::jsonb,

                   #{payload, typeHandler=com.foodapp.promotion_service.persistence.typehandler.JsonStringTypeHandler}::jsonb,

                   #{publishedAt}
               )
    </insert>

    <update id="markAsPublished">
        UPDATE promotion_outbox
        SET published_at = #{now}
        WHERE id = #{id, typeHandler=com.foodapp.promotion_service.persistence.typehandler.UuidTypeHandler}::uuid
    </update>

    <select id="findPendingBatch" resultMap="PromotionOutboxMap">
        SELECT * FROM promotion_outbox
        WHERE published_at IS NULL
        ORDER BY id ASC
        LIMIT #{batchSize}
        FOR UPDATE SKIP LOCKED
    </select>

</mapper>